<div class="form-group">
    <label for="plan">Plan:</label>
    <input type="text" class="form-control" id="plan" [(ngModel)]="plan">
</div>
<div class="form-group">
    <label for="user">Usuario:</label>
    <input type="text" class="form-control" id="user" [(ngModel)]="user">
</div>
<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="password">
</div>
<div class="form-group">
    <label for="birthday">Fecha de Nacimiento:</label>
    <input type="text" class="form-control" id="birthday" [(ngModel)]="birthday">
</div>
<div class="form-group">
    <label for="creditcard">Número de Tarjeta:</label>
    <input type="text" class="form-control" id="creditcard" [(ngModel)]="creditcard">
</div>
<div class="form-group">
    <label for="ccfinish">Vencimiento:</label>
    <input type="text" class="form-control" id="ccfinish" [(ngModel)]="ccfinish">
</div>
<div class="form-group">
    <label for="cccode">Código de seguridad:</label>
    <input type="text" class="form-control" id="cccode" [(ngModel)]="cccode">
</div>
<button (click)="register()">REGISTRARSE</button>